:root{
    --testColor0: #f7f7f7;
    --testColor1: #e8e8e8;
    --testColor2: #8d8a8a;
    --testColor3: #3b3b3b;

    --SideNavBtnHeight: 50px;
    --GuiRadius: 10px;
}
    
 /* .akActive{
    color: var(--accentColor) !important;
} */


.akBody{
    margin: 5%;
    background-color: lightblue;
}

.akBodySplitter{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.akHeader{
    background-color: var(--testColor3);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 75px;
    border-radius: var(--GuiRadius);
}

.akHeader p{
    color: var(--testColor1);
}

.akHeaderPageName{
    /* background-color: yellow; */
    width: 100%;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.akSiteLogo{
    background-color: var(--testColor0);
    width: 30%;
    display:flex;
    justify-content: center;
    align-items: center;
    
    /* logo only on left side radius */
    border-radius: var(--GuiRadius) 0px 0px var(--GuiRadius);
}


.akSideNav{
    background-color: var(--testColor1);
    width:30%;
    max-width: 400px;

    /* only left side of nav has radius */
    border-radius: var(--GuiRadius) 0px 0px var(--GuiRadius);
}

/* Outer is used to maintain a consistent margin */
.akDisplayContainerOuter{
    background-color: var(--testColor0);
    width: 100%;
    /* only right side of display cont has radius */
    border-radius: 0px var(--GuiRadius) var(--GuiRadius) 0px;
}

.akDisplayContainer{
    background-color: var(--testColor0);
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
}



.akFooter{
    display:flex;
    background-color: var(--testColor3);
    height:50px;
    width:100%;
    justify-content:center;
    align-items: center;
    border-radius: var(--GuiRadius);
}

.akFooter p{
    color: var(--testColor1)
}


.akSideNavHomeBtn{
    height: var(--SideNavBtnHeight);
    width: 100%;
}

.akSideNavHomeItem{
    background-color: var(--testColor1);
    margin: 0px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: var(--SideNavBtnHeight);
}

.akSideNavItemParent{
    background-color: var(--testColor1);
    margin: 20px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: var(--SideNavBtnHeight);
}

.akNavItemChild{
    background-color: var(--testColor0);
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 40px;
}

/* select element under the class in this case <p> */
.akNavItemChild a{  
    padding-right: 25px;
}


.akParentBtn{
    width: 100%;
    height: var(--SideNavBtnHeight);
}


.akHomeWelcome{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    background-image: url(content/images/tieDie.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300px 125px;

    justify-self: center;
    align-self: center;

    height: 200px;
}

.akHomeWelcome p{
    font-size: 30px;
    color: #e8e8e8;
    /* For single shadow effect --> horizontal vertical blur color */
    text-shadow: 2px 2px 2px #3b3b3b;
    font-weight: 600;
}

.akTextMarginTopMin5x{
    margin-top: -5px;
}

/* Input Items ----------------------------------
--------------------------------------------------- */

.inputItem{
    background-color: var(--testColor1);
    padding: 10px 20px 10px 20px;
    margin: 5px 0px 5px 0px;
    display:flex;
    flex-direction: column;
    border-radius: 5px;

    min-width: 300px;
    max-width: 400px;
    align-self: center;
}

.inputItemSubmit{
    margin: 20px 0px 20px 0px;
    min-width: 200px;
    max-width: 300px;
    height: 30px;
    align-self: center;
}




/* Output Items ----------------------------------
--------------------------------------------------- */
.outputCont{
    background-color: var(--testColor1);
}
.outputRow{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


/* Modular classes ----------------------------------
--------------------------------------------------- */

/* used within akSpacersX to add text */
.akCommentSpacer{
    text-align: center;
    width: 100%;
}

.akSpacer25{
    min-height: 25px;
}

.akSpacer50{
    min-height: 50px;
}

.akSpacer75{
    min-height: 75px;
}

.akSpacer100{
    min-height: 100px;
}

.akTextLeft{
    text-align: start;
}

.akTextRight{
    text-align: end;
}

.akTextCenter{
    text-align: center;
}
